@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rubik+Vinyl&family=Rubik:ital,wght@0,300..900;1,300..900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Spartan", sans-serif;
}

:root {
    --normal-color: #d9802e;
    --normal-hover-color: #c05618;
    --button-color: #ffdebf;
    --hover-button-color: #f3b881;
    --head-color: #c25c0e;

    --body-color: rgba(245, 222, 179, 0.315);
    --rate-color: #ff9900;
    --linear-favcontent: linear-gradient(to right, rgba(245, 222, 179, 0.1), rgba(245, 222, 179, 0.2));


    --content-font-size: 25px;
    --normal-font-size: 30px;
    --medium-font-size: 35px;
    --large-font-size: 40px;

    --logo-font-family: 'Rubik Vinyl';
}

body {
    width: 100%;
    background-color: var(--body-color);
    overflow-x: hidden;
    /* margin-left: 1000px; */
}

/* Dark Theme Classes */

.dark-theme {
    background-color: black;
}

.dark-theme #header { 
    background-color: #221c16;
}

.dark-theme .pro__detail h2,
.dark-theme .pro__detail h3,
.dark-theme .custom .products .card,
.dark-theme .news .news__content,
.dark-theme  .pro__container .products .card, 
.dark-theme .sign .news__content {
    color: white;
}

.dark-theme .about { 
    background: rgb(34, 33, 33);
}

.dark-theme .home__content { 
    background-image: url(img/bg/d-bg-home.jpg);
}

.dark-theme .news { 
    background-image: url(img/bg/d-bg-news.jpg);
}

.dark-theme .pro__container .products .product { 
   background-color: rgba(245,222,179, 0.199);
}

/* Reusable Classes */
.normalbtn {
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    padding: 12px 20px;
    transition: all ease 0.3s;
}

.normalbtn:hover {
    background-color: var(--hover-button-color);
}

.title {
    color: var(--head-color);
    font-size: var(--large-font-size);
    line-height: 60px;
}

.sub_title {
    color: var(--normal-color);
    font-size: 20px;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #ffdebf;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    width: auto;
    left: 0;
    top: 0;
}

#header .logo {
    font-family: var(--logo-font-family);
    font-size: var(--medium-font-size);
    text-decoration: none;
    font-weight: 900;
    color: var(--head-color);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style-type: none;
    position: relative;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--normal-color);
    transition: 0.3s ease;
}

#navbar li a.active,
#navbar li a:hover {
    color: var(--normal-hover-color);
}

#mobile {
    display: none;
    text-align: center;
}

#close {
    display: none;
}

/* Home */
.home__content {
    background-image: url(img/bg/bg-home.jpg);
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.home__content h4 {
    padding-bottom: 10px;
    font-size: 20px;
}

.home__content h1 {
    color: var(--head-color);
}

.home__content h1, .home__content h2 {
    font-size: var(--medium-font-size);
}

.home__content p {
    margin-top: 5px;
    font-size: 18px;
}

.home__content button {
    margin-top: 10px;
}

/* Menu */
.menu {
    margin: 30px;
}

.menu__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.pro__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro__container .products {
    display: grid;
    text-align: center;
    margin-bottom: 30px;
    grid-template-columns: repeat(3, max-content);
}

.pro__container .products .product {
    background-color: wheat;
    padding: 10px 30px;
    border-radius: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.products .product .pro__detail {
    padding-top: 10px;
    padding-bottom: 10px;
}

.products .product .pro__detail h2 {
    font-family: 'Parkinsans';
}

.product .pro__detail i {
    padding: 5px 0px;
    margin-bottom: 5px;
    color: var(--rate-color);
}

.products .product img {
    border-radius: 20px;
    height: 230px;
    width: 300px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buttons button {
    margin-right: 10px;
}

#viewer {
    padding-left: 2px;
    text-decoration: none;
    color: black;
}

/* News */
.news {
    background-image: url(img/bg/bg-news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.news__content {
    margin-top: 60px;
    margin-left: 40px;
}

.news__content span {
    color: orange;
    font-weight: 700;
}

.news__content .news__subtitle {
    max-width: 80vw;
    font-weight: 500;
}

.news__content .normalbtn {
    margin-top: 10px;
    background-color: orange;
}

/* Favorites */
.favorite {
    text-align: center;
}

.favorite .fav__title .title {
    margin-bottom: 15px;
}

.favorite .pro__container .products {
    grid-template-columns: repeat(2, max-content);
}

.favorite .pro__container .products .product {
    width: 27vw;
}

.favorite .pro__container .products .card {
    background: var(--linear-favcontent);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 33vw;
}

.favorite .pro__container .products .card .rate {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255,187, 0);
}

.favorite .pro__container .products .card h3 {
    margin-bottom: 10px;
}

.favorite .pro__container .products .card button {
    background-color: #eba715;
    transition: all ease-in 0.3s;
}

.favorite .pro__container .products .card button:hover {
    background-color: #cf6a0a;
}

.favorite .pro__container .products #two,
.favorite .pro__container .products #six {
    transform: translateX(-80px);
}

/* Sign In */
.sign {
    background-image: url(img/bg/bg-news-sign.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sign .form {
    margin-right: 10%;
}

.sign .news__content {
    width: 55%;
    margin-top: 0;
    margin-left: 5%;
}

.sign .form #txt,
.sign .form .normalbtn {
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 0;
}

.sign .form #txt {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0px;
}

.sign .form .normalbtn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 0px;
}

/* Customization */
.custom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.custom .products {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

.custom .custom__content {
    text-align: center;
    margin-bottom: 20px;
}

.custom .products .product__card {
    display: flex;
    flex-direction: column;
}

.custom .products .product {
    margin: 10px;
}

.custom .products .product img {
    width: 340px;
    height: 330px;
}

.custom .products .product .pro__detail {
    max-width: 340px;
}

.custom .products .product .pro__detail h2,
.custom .products .product .pro__detail h3 {
    margin-bottom: 3px;
}

.custom .products .card {
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.custom .products .card .card__detail h4 {
    font-size: large;
    margin-bottom: 10px;
}

.custom .products .card .card__detail .normalbtn {
    background-color: #ffdebfa2;
    margin-top: 10px;
}

.custom .products .card .card__detail .normalbtn:hover {
    background-color: #dfa36b;
}

.custom .products .card .card__detail {
    max-width: 340px;
}

/* About */
.aboutcon {
    display: block;
}

.about {
    height: 40vh;
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(1, max-content);
}

.about__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98vw;
}

.about__container h4, 
.about .follow h4 {
    color: orange;
    margin-bottom: 5px;
}

.about__container .about_us a,
.about__container .order a,
.about__container .trust a,
.about__container .contact a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: rgb(250, 229, 182);
}

.about__container .contact p,
.about__container .about_us p,
.about__container .order p,
.about__container .trust p {
    transition: all 0.3s ease;
    margin-bottom: 3px;
}

.about__container .contact p:hover,
.about__container .about_us p:hover,
.about__container .order p:hover,
.about__container .trust p:hover,
.about__container .trust p:hover a,
.about__container .contact p:hover a,
.about__container .about_us p:hover a,
.about__container .order p:hover a{
    color: rgb(253, 138, 138);
}

.contact {
    width: 25%;
    margin: 20px;
}

.trust {
    margin-right: 20px;
}

.about .follow {
    display: block;
    margin: -10px 0 0 45px;
    font-size: 20px;
}

.about .follow .follow__icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.about .follow .follow__icons a {
    display: inline-block;
    text-decoration: none;
    color: rgb(247, 243, 217);
    transition: all 0.5s ease;
}

.about .follow .follow__icons a:hover {
    color: orange;
}

#copy {
    text-align: center;
}

.con {
    height: 20%;
}

/* Media Queries */
@media (max-width: 859px) {
    .title {
        font-size: 35px;
    }

    #navbar {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        background-color: #ffdebf;
        padding: 80px 0 0 10px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    .pro__container .products {
        grid-template-columns: repeat(2, max-content);
    }

    .pro__container .products .product img {
        width: 30vw;
        height: 18vh;
    }

    .pro__container .products .product .pro__detail {
        max-width: 33vw;
    }

    .news {
        height: 30vh;
    }

    /* .favorite .pro__container .products #two,
    /* .favorite .pro__container .products #six {
        transform: translateX(0px); 
    } */

    .favorite .pro__container .products .product {
        width: max-content;
    }

    .favorite .pro__container .products .card {
        width: 40vw;
    }

    .custom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .custom .pro__container .products .product {
        max-width: 35vw;
    }

    .custom .pro__container .products .product .pro__detail {
        max-width: 290px;
    }

    .custom .pro__container .products .product img {
        width: 35vw;
        height: 25vh;
    }

    .custom .pro__container .products .card .card__detail {
        max-width: 35vw;
    }

    .about {
        height: 45vh;
    }
}

@media (max-width: 550px) {
    .pro__container .products {
        grid-template-columns: repeat(1, max-content);
    }

    .pro__container .products .product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .pro__container .products .product .pro__detail {
        max-width: max-content;
    }

    .pro__container .products .product img {
        width: 60vw;
        height: 30vh;
    }

    .favorite {
        text-align: center;
        overflow-x: hidden;
    }

    .favorite .pro__container .products .product img {
        width: 35vw;
        height: 20vh;
    }

    .favorite .pro__container .products .product .pro__detail {
        max-width: 40vw;
    }

    .favorite .pro__container .products #two,
    .favorite .pro__container .products #six {
        transform: translateX(-20px);
    }

    .favorite .pro__container .products .product {
        width: max-content;
    }

    .favorite .pro__container .products .card {
        width: 40vw;
    }

    .sign {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 50vh;
    }

    .sign .news__content {
        width: 70%;
    }

    .sign .form {
        margin-top: 20px;
    }

    .custom .pro__container .products {
        grid-template-columns: repeat(2, max-content);
        overflow-x: scroll;
    }

    .about {
        height: fit-content;
        margin-top: 30px;
        background-color: #1a1a1a;
    }

    .about__container {
        display: flex;
        height: max-content;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 20px;
    }

    .about_us, .trust, .contact, .order {
        margin-bottom: 20px;
    }

    .about_us,.trust, .contact, .order {
        margin-left: 30px;
    }

    .about .follow {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    #header {
        padding: 10px 30px;
    }

    .news, .sign {
        height: max-content;
    }

    .sign {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .custom .pro__container .products {
        grid-template-columns: repeat(1, max-content);
    }

    .custom .pro__container .products .product {
        max-width: 70vw;
    }
}
